/* default style. Above 1024px in desktop view */
header.topProfile{
  position: relative;
  top: 8em;
  margin-left: 3em;
  z-index: -1;
  height: 22em;
  width: 28%;
  background-color: #CD8B76;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  background-image: url(/images/beige-paper.png);
}

header h2 {
  position: relative;
  z-index: 1;
  margin: -25px 20px;
  font-size: 2.8em;
  word-wrap: break-word;
  text-align: center;
}

.iconAvatar {
  margin-top: 3.5em;
}









/* tablet style. under 1024px in tablet view */
@media screen and (max-width: 1024px){

  header.topProfile{
    margin-left: 0;
    top: 0px;
    height: 600px;
    width: 100%;
    border-radius: 0px
  }
  
  header h2 {
    top: 100%;
  }
  
  .iconAvatar {
    margin-top: 6.5em;
  }

}
